@mixin icon {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0; 
}

@mixin icon-social {
    font-family: 'icomoon';
    position: absolute;
    top: 13px;
    left: 18px;
    color: #fff;
}

@mixin round-social {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

@mixin section-title {
    background-color: #fff;
    padding: 40px 120px 40px 28px;
    font-size: 30px;
    margin-bottom: 50px;
    box-shadow: 0px 3px 15px 5px rgba(0,0,0,0.03);
}