@mixin icon {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0; 
}

@mixin section-title {
    background-color: #fff;
    padding: 40px 120px 40px 28px;
    font-size: 30px;
    margin-bottom: 50px;
    box-shadow: 0px 3px 15px 5px rgba(0,0,0,0.03);
}