$text-color: #000;
$header-text: #333333;
$button-color: #0674ec;
$blue-color: #0674ec;
$header-bg-color: #eef1f3;
$thick-bd: #d9dfe5;
$light-black: #212225;
$item-text: #555555;
$tags-color: #8f949d;
$tags-bg: #f1f3f6;


$br: 25px;
$xl: 120px;
$title-size: 30px;