.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    
}
.header__top {
    background-color: $header-bg-color;
}

.header {
    &__btn {
        margin-left: auto;
        margin-right: 51px;
        width: 140px;
        font-size: 15px;
        font-weight: 400;
    }
    &__menu {
        background-color: #fff;
        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    height: 90px;
    &__list {
        li{
           display: inline-block;
           font-weight: 500; 
           text-transform: uppercase;
           & + li {
               margin-left: 30px;
           }
        
        }
    }
}

.user {
    display: flex;
    align-items: center;
    position: relative;
    height: 100px;
    &:hover{
        .user__menu{
            height: auto;
            padding-top: 20px;
            border-top: 1px solid $blue-color; 
        }
    }
    
    &__menu{
        width: 271px;
        background: #fff;
        padding: 0px 20px 15px;
        box-shadow: 0px 3px 15px 5px rgba(0,0,0,0.03);
        position: absolute;
        right: 0;
        top: 100px;
        z-index: 1;
        height: 0;
        overflow: hidden;
        transition: all .3s;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        
        li{
            padding: 14px 10px 14px 40px;
            transition: all .3s;
            &:hover{
                background-color: $blue-color;
                border-radius: 4px;
                a{
                   color: #fff; 
                }
            }
        }
        a{
            font-size: 15px;
        }
        
    }
    &__img{
        width: 49px;
        height: 49px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        margin-right: 20px;
    }
    &__name {
        width: 160px;
        font-weight: 500;
    }
    &__money {
        color: $blue-color;
    }
    &-panel {
        margin-right: 25px;
        font-size: 20px;
        a + a {
            margin-left: 30px;
        }
        span{
            border-radius: 50%;
            color: #fff;
            font-weight: 500;
            position: absolute;
            top: -19px;
            right: -13px;
            font-size: 16px;
            width: 20px;
            height: 20px;
            text-align: center;
        }
    }
}

.notification{
    position: relative;
    span{
        background-color:#ff6a6d;
    }
}

.message{
    position: relative;
    span{
        background-color:#77de51;
    }
}

.cart{
    position: relative;
    span{
        background-color:#58c9e9;
    }
}

.search-form {
    position: relative; 
    &__input {
        width: 100%;
        display: block; 
        border-radius: $br;
        height: 45px;
        border: 1px solid $thick-bd;
        outline: none;
        padding: 0 100px 0 25px;
        &:focus{
            border: 1px solid $button-color;
        }
    }
    
    button {
        height: 45px;
        width: 67px;
        position: absolute;
        top: 0;
        right: 0;
        outline: none;
        cursor: pointer;
        &::before{
            content: '\e90b';
            color: #fff;
            position: absolute;
            right: 23px;
            font-size: 22px;
            top: 11px;
        }
    }
}

.hero {
    text-align: center;
    min-height: 724px;
    color: #fff;
    background-color: #2649cd;
    
    position: relative;
    &.hero-search{
        min-height: 282px;
        background-image: linear-gradient(to right, #631f93, #0e37d8);
        .hero__inner{
            padding: 83px 0 23px 0;
            .hero__descr{
                font-size: 26px;
                margin-bottom: 26px;
            }
            .hero__form{
                position: relative;
                max-width: 600px;
                margin: 0 auto;
                &-input {
                    width: 100%;
                    display: block;    
                    border-radius: $br;
                    height: 45px;
                    border: 1px solid $thick-bd;
                    outline: none;
                    padding: 0 100px 0 25px;
                    
                    &:focus{
                        border: 1px solid $button-color;
                    }
                }
                button {
                    height: 45px;
                    width: 127px;
                    padding: 5px 10px;
                    position: absolute;
                    color: #fff;
                    outline: none;
                    font-weight: 400;
                    top: 0;
                    right: 0px;
                    cursor: pointer;
                    
                }
                
            }
            
        }
    }

    &__inner{
        padding: 267px 0 234px 0;
        &-title{
            font-size: 60px;
            margin-bottom: 34px;
            span {
                font-weight: 700;
            }
        &-descr{
            font-size: 20px;
            font-weight: 500;
            
        }
        }
        &-buttons {
            margin-top: 65px;
            margin-bottom: 110px;
            a {
                display: inline-block;
                max-width: 188px;
                background-color: transparent;
                color: #fff;
                border: 1px solid #fff;
                transition: all .5s;
                & + a {
                    margin-left: 20px;   
                }
                &:hover{
                    background-color: #fff;
                    color: $blue-color;
                }
            }
        }    
    }
    &__search {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 137px;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 5px 15px 10px rgba(0,0,0,0.04),
                    0px -50px 0px -30px rgba(255,255,255,0.5),
                    0px -20px 0px -10px rgba(255,255,255,0.5);
        border-radius: 6px;
        
        &-input {
            border: 1px solid $thick-bd;
            width: 804px;
            border-radius: 3px;
            height: 55px;
            background-color: transparent;
            padding: 15px 200px 15px 24px;
             
        }
        &-menu{
            width: 194px;
        }
        &-btn{
            width: 223px;
            border-radius: 3px;
            color: #fff;
            height: 55px;
            cursor: pointer;
        }
    }
}
// .menu__list{
//     position: relative;
// }
.menu__item.all-products{
    position: relative;
    margin-top: 80px;
    height: 100px;
    &:hover{
        .menu__item-list{
            height: auto;
            padding: 22px 20px;
            border-top: 1px solid $blue-color;
            div{
                transition: all .3s;
            &:hover{
                background-color: $blue-color;
                border-radius: 4px;
                a{
                   color: #fff; 
                }
            }
            } 
        }
    }
}

.menu__item-list{
    width: 271px;
    background-color: #fff;
    top: 55px;
    padding: 0 20px;
    position: absolute;
    height: 0;
    overflow: hidden;
    box-shadow: 0px 3px 15px 15px rgba(0,0,0,0.03);
    z-index: 1;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: all .3s;
    div{
        padding: 15px 10px;   
        a{
            text-transform: capitalize;
            color: #54667a;
            font-size: 15px;
            
        }
    }
}


.advantages{
    text-align: center;
    
    &__inner{
        display: flex;
        padding: 185px 0 115px 0;
    }
    &__item {
        max-width: 364px;
        padding: 40px 30px 45px;
        border-radius: 6px;
        transition: all 1s;
        & + .advantages__item {
            margin-left: 30px;
        }
        &:hover {
            box-shadow: 0px 3px 15px 15px rgba(0,0,0,0.03);
        }
        
        
        &-img{
            width: 126px;
            height: 126px;
            background-position: center;
            background-size: cover;
            margin: 0 auto;
        }
        &-title {
            font-weight: 500;
            margin: 33px 0 30px;
            font-size: 24px;
        }
        &-descr {
            line-height: 29px;
        }
    }
}

