.feed__arrow-left,.featured__arrow-left {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 23px;
    cursor: pointer;
    
}
.feed__arrow-right, .featured__arrow-right{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 23px;
    cursor: pointer;
}

.featured {
    background-color: #eff1f5;
    &__inner{
        padding: 120px 0;
        &-box{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include section-title;
        padding-right: 21px;
        &-btn {
            min-width: 108px;
            min-height: 40px;
            // padding: 13px 25px;
            background-color: $violet;
            border-radius: 50px;
            position: relative;

        }
    }
    &__item{
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color: #fff;
        
        min-height: 450px;
        border-radius: 6px;
        &-img {
            width: 50%;
            background-size: cover;
            background-color: gray;
            height: 100%;
            display: inline-block;
            
        }
        &-info {
            display: inline-block;
            padding: 45px 49px 23px;
            width: 50%;
            right: 0;
            
        }
        &-title {
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 17px;
        }
        &-subinfo{
            margin-bottom: 30px;
        }
        &-text {
            color: $item-text;
            line-height: 30px;
            margin-bottom: 39px;
        }
        &-tags{
           padding-bottom: 36px;
           border-bottom: 1px solid $thick-bd;
           .tag {
               min-width: 70px;
               text-align: center;
               border-radius: $br;
               background-color: $tags-bg;
               padding: 8px 8px;
               margin-bottom: 8px;
               font-weight: 500;
               color: #868c96;
               & + .tag {
                   margin-left: 8px;
               }
           }
        }
        &-footer{
            margin-top: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-price {
            background-color: $blue-color;
            color: #fff;
            font-weight: 500;
            padding: 9px;
            min-width: 100px;
            text-align: center;
            border-radius: $br;
            
        }
        &-likes{
            padding-left: 24px;
            position: relative;
            &::before {
                @include icon;
                background-image: url(../../images/like.svg);    
            }
        }
        &-purchases{
            padding-left: 22px;
            position: relative;
            &::before{
                @include icon;
                background-image: url(../../images/like.svg);
            }
        }
    
        }
    }


 // start products

 .products {
    background-color: #f6f7fb;
    &__btn{
        width: 191px;
        margin: 0 auto;
    }
    &__inner{
        padding: 120px 0;   
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include section-title;
        margin-bottom: 29px;
        
        &-filter {
            font-size: 16px;
            color: #747b86;
            position: relative;
            &::after{
                @include icon;
                background-image: url(../../images/svg/more.svg);
            }
        }
    }
    &__categories{
        background-color: #fff;
        padding: 30px 17px;
        button {
            display: inline-block;
            font-weight: 500;
            min-width: 70px;
            text-align: center;
            border-radius: $br;
            background-color: $tags-bg;
            padding: 8px 8px;
            margin-bottom: 8px;
            color: #868c96;
            cursor: pointer;
            border: none;
            outline: none;
            &.mixitup-control-active {
                background-color: $blue-color;
                color: #fff;
                &:focus{
                    border: 1px solid $button-color; 
                }
            }
        }
        &-item {
            & + .products__categories-item {
                margin-left: 8px;
            } 
        }
    }
    &__box{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    &__item {
        margin-top: 30px;
        width: 360px;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0px 3px 15px 5px rgba(0,0,0,0.03);
        
        
        &-img {
            background-color: rgb(209, 188, 188);
            height: 230px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
        &-title {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 17px;
        }
        &-info {
            padding: 30px 34px 30px 28px;
            
        }
        
        &-subinfo{
            margin-bottom: 30px;
            
        }
        &-author {
            padding-left: 22px;
            position: relative;
            &::before{
                @include icon;
                background-image: url(../../images/user.svg);
            }
        }

        &-category {
            padding-left: 22px;
            position: relative;
            &::before{
                @include icon;
                background-image: url(../../images/wordpress.svg);
            }
        }

        &-text {
            color: $item-text;
            line-height: 30px;
            font-weight: 500;
        }
        &-footer{
            padding: 15px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid $thick-bd;
           
        }
    }
 }

 //end products


 //start feed

 .feed {
    background-color: #eff1f5;
    &__inner {
        padding: 120px 0;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        max-width: 360px;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0px 3px 15px 5px rgba(0,0,0,0.03);

        &-img {
            height: 230px;
            background-color: rgb(188, 200, 209);
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
        &-title {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 17px;
        }
        &-info {
            padding: 30px 34px 30px 28px;
        }
        &-subinfo{
            margin-bottom: 30px;
                
        }
        &-author {
            padding-left: 22px;
            position: relative;
            &::before{
                 @include icon;
                background-image: url(../../images/user.svg);
            }
        }
    
        &-category {
            padding-left: 22px;
            position: relative;
            &::before{
                @include icon;
                background-image: url(../../images/wordpress-logo.svg);
            }
        }
    
        &-text {
            color: $item-text;
            line-height: 30px;
            font-weight: 500;
        }
        &-footer{
            padding: 15px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid $thick-bd;
        }
    }
    &__title {
        @include section-title;
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
        &-btn {
            min-width: 108px;
            min-height: 40px;
            // padding: 13px 25px;
            background-color: $button-color;
            border-radius: 50px;
            position: relative;

        }
    }
 }
 //end feed


 //start facts
.facts{
    background-color: $light-black;
    &__inner{
        padding: 96px 0 90px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &__item{
        &-text{
            color: #fff;
            font-size: 18px;
        }
        &-icon {
            width: 64px;
            height: 64px;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0 auto;
            margin-bottom: 37px;
        }
        &-number {
            font-size: 36px;
            margin-bottom: 14px;
        }

    }
}

.yellow {
    color:#feb71d;
}
.blue {
    color:#58c9e9;
}
.green {
    color:#77de51;
}
.red {
    color:#ff6a6d;
}
 //end facts


 //start reasons
 .reasons{
    &__inner {
        padding: 90px 0;
        text-align: center;
    }
    &__title {
        font-size: 36px;
        span {
            color: $blue-color;
        }
        margin-bottom: 26px;
    }
    &__descr {
        width: 693px;
        margin: 0 auto;
        line-height: 27px;
        color: #747474;
        margin-bottom: 55px;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        text-align: center;
        flex-wrap: wrap;
    }
    &__item {
        width: 350px;
        position: relative;
        padding: 20px 20px 56px;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0px 3px 13px 13px rgba(0,0,0,0.03);
        margin-bottom: 27px;
        &-num{
            color: #e6ebfe;
            position: absolute;
            font-size: 48px;
            font-weight: 300;
        }
        &-icon{
            width: 64px;
            height: 64px;
            background-position: center;
            background-repeat: no-repeat;
            margin: 55px auto 46px;
        }
        &-title{
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 29px;
        }
        &-text{
            line-height: 27px;
            
        }
    }
 }
 //end reasons

 //start sell-buy
 .sell-buy{
    &__inner{
        display: flex;
        color: #fff;
        text-align: center;
    }
    &__item{
        padding: 96px 160px;
        width: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &-icon {
            background-position: center;
            background-repeat: no-repeat;
            width: 126px;
            height: 108px;
            margin: 0 auto 45px;
        }
        &-title {
            margin-bottom: 29px;
            font-size: 36px;
        }
        &-text {
            margin-bottom: 43px;
            line-height: 28px;
        }
        &-btn {
            background-color: #fff;
            color: $blue-color;
            width: 190px;
            margin: 0 auto;
            cursor: pointer;
        }

    }
 }

 //end sell-buy

 //start feedback
 .feedback {
    background-color: #fefefe; 
    &__inner{
        padding: 115px 0;
        text-align: center;
    }
    &__title{
        font-size: 36px;
        margin-bottom: 31px;
        span{
            color: $blue-color;
        }
    }
    &__descr{
        margin: 0 auto 54px;
        max-width: 690px;
        line-height: 28px;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 59px;
    }
    &__item {
        max-width: 536px;
        background-color: #fff;
        padding: 47px 40px;
        border-left: 2px solid $blue-color;
        box-shadow: 0px 3px 13px 13px rgba(0,0,0,0.03);
        position: relative;
        &-bubble{
            background-position: center;
            background-repeat: no-repeat;
            width: 58px;
            height: 52px;
            position: absolute;
            top: 52px;
            right: 41px;
        }
        &-user {
            margin-bottom: 27px;
            text-align: left;
            display: flex;
            align-items: center;
        }
        &-text {
            line-height: 28px;
        }
    }

    &__user-name {
        font-size: 20px;
     }
    &__user-img {
        background-position: center;
        background-repeat: no-repeat;
        width: 80px;
        height: 80px;
        margin-right: 20px;
     }
    &__btn {
        color: #fff;
        width: 190px;
        margin: 0 auto;
        cursor: pointer;
    }
 }


 //end feedback

 //start news
 .news{
    background-color: #eff1f5;
    &__inner{
        padding: 115px 0;
        text-align: center;
    }
    &__title{
        font-size: 36px;
        margin-bottom: 31px;
        span{
            color: $blue-color;
        }
    }
    &__descr{
        margin: 0 auto 54px;
        max-width: 690px;
        line-height: 28px;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        background-color: #fff;
        max-width: 360px;
        min-height: 472px;
        border-radius: 6px;
        box-shadow: 0px 3px 13px 13px rgba(0,0,0,0.03);
        text-align: left;
        &-img {
            background-color: rgb(140, 209, 192);
            height: 230px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
        &-text {
            color: $item-text;
            line-height: 30px;
            font-weight: 500;
        }
        &-footer{
            padding: 15px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid $thick-bd;
        }
        &-title {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 17px;
        }
        &-info {
            padding: 30px 34px 30px 28px;
            
        }
    }
 }
 //end news
  
 // start garanties
.garanties{
    
    &__inner{  
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }
    &__item{
        max-width: 600px;
        width: 100%;
        padding: 40px 90px;
        // display: inline-block;
        width: 100%;
        text-align: center;
        position: relative;
        &-icon{
            width: 155px;
            height: 135px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            margin: 0 auto;
        }
        &-title {
            font-size: 24px;
            margin-top: 26px;
        }
    }
    &__item +.garanties__item {
        
    }
}
.item-line::before {
        content: '';
        position: absolute;
        background-color: $thick-bd;
        height: 100%;
        width: 1px;
        top: 0;
        right: 0;
    }



 //end garanties

 //start join
.join{
    background-image: linear-gradient(to right, #631f93, #0e37d8);
    &__inner{
        
        padding: 80px 0;
        text-align: center;
    }
    &__btn {
        background-color: #fff;
        color: $blue-color;
        width: 160px;
        margin: 0 auto;
        cursor: pointer;
    }
    &__title{
        font-size: 30px;
        color: #fff;
        line-height: 50px;
    }
    &__subtitle{
        color: #fff;
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 30px;
    }
}
 //end join


 //start footer
.footer{
    background-color: #262b30;
    color: #ababab;
    font-size: 15px;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 106px 0;
    }
    &__col{
        max-width: 270px;
        // width: 100%;
        a{
            color: #ababab;  
        } 
        &-logo{
            margin-bottom: 15px;
        }
        &-title{
            font-size: 18px;
            color: #fff;
            margin-bottom: 30px;

        }
        &-text{
            line-height: 28px;
            margin-bottom: 15px;
        }
        &-list{
            a{
                color: #ababab;  
                margin-bottom: 15px;
            }   
        }
        &-phone{
            padding-left: 29px;
            margin-bottom: 15px;
            position: relative;
            &::before{
                content: "\f095";
                font-family: 'icomoon';
                position: absolute;
                top: 0;
                left: 0;
                color: #fff;
            }
        }
        &-email{
            padding-left: 29px;
            margin-bottom: 15px;
            position: relative;
            &::before{
                content: "\f003";
                font-family: 'icomoon';
                position: absolute;
                top: 0;
                left: 0;
                color: #fff;
            }
        }
        &-address{
            padding-left: 29px;
            position: relative;
            margin-bottom: 15px;
            line-height: 25px;
            &::before{
                content: "\f041";
                font-family: 'icomoon';
                position: absolute;
                top: 8px;
                left: 0;
                color: #fff;
            }
        }

    }
    &__copy{
        background-color: #192027;
        padding: 37px 0;
        text-align: center;
        &-text{
            font-size: 15px;
            span{
                color: #fff;
            }
        }
    }
}

.footer__form {
    position: relative;
    margin-bottom: 45px;
    margin-top: 30px;
    &-input {
        width: 100%;
        display: block;    
        border-radius: $br;
        height: 45px;
        border: 1px solid $thick-bd;
        outline: none;
        padding: 0 100px 0 25px;
        
        &:focus{
            border: 1px solid $button-color;
        }
    }
    button {
        height: 45px;
        width: 87px;
        padding: 5px 10px;
        position: absolute;
        color: #fff;
        outline: none;
        font-weight: 300;
        top: 0;
        right: 0px;
        cursor: pointer;
        
    }
    
}

.social-col{
    max-width: 390px;
    width: 100%;
}

.footer__social-link{
    li{
        display: inline-block;
        margin-right: 11px;
        // & + li{
        //     margin-right: 11px;
        // }
    }

}


.facebook{
    @include round-social;
    background-color: #395799;
    &::before{
        content: "\f09a";
        @include icon-social;
    }
}
.twitter{
    @include round-social;
    background-color: #19b2f5;
    &::before{
        content: "\f099";
        @include icon-social;
        left: 16px;
    }
}
.google{
    @include round-social;
    background-color: #f05b44;
    &::before{
        content: "\f1a0";
        @include icon-social;
        left: 16px;
    }
}
.pinterest{
    @include round-social;
    background-color: #9c0c1c;
    &::before{
        content: "\f041";
        @include icon-social;
    }
}
.linkedin{
    @include round-social;
    background-color: #0da6be;
    &::before{
        content: "\f0e1";
        @include icon-social;
    }
}
.ball{
    @include round-social;
    background-color: #ea4c89;
    &::before{
        content: "\e900";
        @include icon-social;
        left: 16px;
    }
}
 //end footer

